
body {
	font-family: "PT Sans", Arial, Helvetica, sans-serif;
	font-size: 13px;
	line-height: 24px;
	color: #000000;
}

h2 {
	font-family: "Cuprum", Arial, Helvetica, sans-serif;
	font-size: 30px;
	line-height: 30px;
	color: #32425c;
	text-transform: uppercase;	
}

h4 {
	font-family: "PT Sans", Arial, Helvetica, sans-serif;
	font-size: 17px;
	line-height: 30px;
	color: #000000;
	font-weight: bold;
	text-transform: uppercase;
}

.container {
	width: 960px;
	margin-left: auto;
	margin-right: auto;
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

.new::before {
    z-index: 30;
    position: absolute;
    top: 0px;
    /* border: 1px solid green; */
    right: 0px;
    content: "";
    width: 60px;
    height: 59px;
    background: transparent url(../img/new.png) 0 0 no-repeat;
}

/*HEADER*/
.header-top {
	background: #293449;
}

.header-logo, .header-gadget {
	 float: right;
}

.header-logo {
	position: relative;
}

.header-top img {
	position: absolute;
	padding: 12px 55px;
	background: #ee3643;
	border-bottom: 5px solid #b52933;	
}

.header-top img:hover {
	background: #ca2c37;
	border-bottom: 5px solid #9a212a;	
}

.header-top img:active {
	background: #ba2732;
	border-bottom: 5px solid #8e1e26;	
}
.header-gadget {
	width: 740px;
	font-size: 0px;
}

.header-gadget a {
	font-family: "Cuprum", Arial, Helvetica, sans-serif;
	font-size: 17px;
	line-height: 18px;
	color: #fff;
	text-decoration: none;
}


.search-input {
	display: inline-block;
	position: relative;
}

.search-input form {
	position: relative;
}
.search-input form::before {
	position: absolute;
	left: 16px;
	top: 11px;
	content: "";
	width: 18px;
	height: 18px;
	background: transparent url("../img/main-sprite.png") 0px 0px no-repeat;
	opacity: 0.3;
	outline: none;
	border: 0;
}

.search-input input[type="search"] {
	font-family: "Cuprum", Arial, Helvetica, sans-serif;
	font-size: 17px;
	line-height: 18px;
	text-decoration: none;
	opacity: 1;
	padding-left: 48px;
	width: 260px;
	height: 40px;
	background: #293449;
	border: none;
}

.search-input input::-webkit-input-placeholder {color:#fff;}
.search-input input::-moz-placeholder        	{color:#fff;}
.search-input input:-moz-placeholder           {color:#fff;}
.search-input input:-ms-input-placeholder      {color:#fff;}

.search-input input[type="search"]:hover
 {
	background: #212a3a;
}
.search-input form:hover::before {
	opacity: 1;
}

.search-input input[type="search"]:focus {
	background: #fff;
	color: #000;
	outline: none;
}

.search-input form:active::before,
.search-input form:focus::before
 {
	background: #fff url("../img/main-sprite.png") 0px -37px no-repeat;
	opacity: 1;
}
.marks {
	position: relative;
	padding: 10px 26px 10px 54px; 
}

.marks::before {
	position: absolute;
	left: 25px;
	top: 10px;
	content: "";
	width: 18px;
	height: 18px;
	background: transparent url("../img/main-sprite.png") 2px -108px no-repeat;
	opacity: 0.3;
}

.marks:hover {
	background: #212a3a url("../img/main-sprite.png") 26px -98px no-repeat;
}

.basket {
	padding: 10px 31px 10px 51px; 
	position: relative;
}

.basket::before {
	position: absolute;
	top: 10px;
	left: 18px;
	content: "";
	width: 18px;
	height: 18px;
	background: url("../img/main-sprite.png") 0px -73px no-repeat;
	opacity: 0.3;
}

.basket:hover { 
	background: #212a3a url("../img/main-sprite.png") 19px -63px no-repeat;
}

.basket:active, .marks:active { 
	opacity: .5;
}

.order-btn {
	display: inline-block;
	padding: 12px 21px; 
	background: #63a63e;
}
.order-btn:hover {
	background: #5fbb2d;
}
.order-btn:active {
	opacity: 0.5;
}


.header-bottom {
	background: #f1f5f7;
	padding-top: 45px;
	padding-bottom: 60px;
}

.header-description, .header-contacts {
	float: left;
}

.header-description p {
	width: 200px;
	font-family: "Cuprum", Arial, Helvetica, sans-serif;
	font-style: italic;
	color: #ee3643;
	font-size: 16px;
	line-height: 23px;
	margin-left: 52px;
	margin-top: 4px; 
}

.header-contacts {
	width: 271px;
	margin-left: 68px; 

	font-family: "Cuprum", Arial, Helvetica, sans-serif;
	color: #32425c;
	font-size: 14px;
	line-height: 24px;
}

.tel-number {
	display: inline-block;
	
	padding: 12px 50px 11px 71px;
	margin-bottom: 4px;
	border: 3px solid #fff;
	font-family: "Cuprum", Arial, Helvetica, sans-serif;
	color: #ee3643;
	font-size: 22px;
	line-height: 17px;
	letter-spacing: -0.5px;

	background: url("../img/main-sprite.png") 12px -135px no-repeat;
}

.address {
	margin-left: 10px;
}

.header-auth {
	display: inline-block;
}

.login, .check-in {
	font-family: "Cuprum", Arial, Helvetica, sans-serif;
	color: #000;
	font-size: 21px;
	line-height: 17px;
	text-decoration: none;
	display: inline-block;

	background-color: #fff;
	padding: 15px 25px 15px;
	border-radius: 3px; 
}

.login {
	padding-left: 48px;
	margin-left: 70px;
	background: #fff url("../img/main-sprite.png") 14px -170px no-repeat;
}

.check-in {
	margin-left: 10px;
	padding-left: 21px;
}

.login:hover, .check-in:hover {
	color:#ee3643;
}

.login:active, .check-in:active {
	color: #000;
	opacity: .7;
}
.main-menu {
	margin-top: 66px;
	margin-right: 20px;
	clear: both;
	font-size: 0px;
}

.main-menu ul {
	padding: 0;
	margin: 0;
	display: table;
	width: 100%;
}
.main-menu li {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	background: #32425c;
	
}

.main-menu a {
	display: block;
	padding: 19px 32px;
	border-bottom: 5px solid #293449;
	font-family: "Cuprum", Arial, Helvetica, sans-serif;
	color: #fff;
	font-size: 17px;
	line-height: 17px;
	text-decoration: none;
}

.main-menu a:hover {
	background: #293449;
}

.main-menu a:active {
	background: #1d2739;
	border-bottom: 5px solid #1d2739;
	opacity: 0.5;
}
/*MAIN INDEX*/

/*promo-block index*/
.promo {
	padding-top: 59px;
	padding-bottom: 24px;
	font-size: 0px;
}
.promo .item {
	    position: relative;
    padding-left: 23px;
    width: 300px;
    min-height: 123px;
    padding-top: 21px;
    display: inline-block;
    box-sizing: border-box;
}

.promo span {
	margin-bottom: 12px;
	display: block;
	font-family: "Cuprum", Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 24px;
	line-height: 30px;
	color: #fff;
}

.item a {
    display: inline-block;
    font-family: "Cuprum", Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
	opacity: 1;
    padding: 10px 30px;
    position: relative;
}

.item a::after {
	border-radius: 3px;
    position: absolute;
    content: "";
    width: 136px;
    top: 0px;
    left: 0px;
    background-color: #000;
    opacity: .1;
    height: 38px;
}

.item a:hover::after {
	opacity: .2;
}

.item a:active::after {
	opacity: .3;
}

.item-1 {
	margin-right: 20px;
	background:#f6b22d url("../img/materials.png") no-repeat;	
	background-position: 213px 31px;
}

.item-1::before {
    top: 0px;
    right: 0px;
    content: "";
    width: 60px;
    height: 59px;
    background: transparent url(../img/new.png) 0 0 no-repeat;
}
.item-2 {
	background: #4aafde url("../img/instrument.png") no-repeat;
	margin-right: 20px;
	background-position: 197px 33px;	
}
.item-3 {
	background: #cc79d1 url("../img/tractor.png") no-repeat;
	margin-bottom: 20px;
	background-position: 191px 31px;
}

.item-4{
	background: #85d179 url("../img/discounts.png") no-repeat;
	margin-bottom: 20px;
	background-position: 196px 26px;
}
.item-5 {
	background: #f6b22d url("../img/car.png") no-repeat;
	background-position: 191px 32px;
}

.promo-slider {
	width: 618px;
	float: left;
	margin-right: 22px;
	position: relative; 
}
.promo-slide {
	position: relative;
}

.promo-slide h2, .promo-slide p, .promo-slide a {
	position: absolute;
	top: 10px;
	left: 10px;
	
}

.promo-slide h2 {
	left: -7px;
    top: -21px;
	font-family: "Cuprum", Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 36px;
	line-height: 30px;
	color: #fff;
	text-transform: uppercase;
	background: transparent;
}

.promo-slide p {
	top: 42px;
	left: 24px;
	font-family: "PT Sans", Arial, Helvetica, sans-serif;
	font-size: 18px;
	line-height: 24px;
	color: #fff;
}

.promo-slide a {
	width: 114px;
    position: absolute;
    top: 206px;
    left: 25px;
    background: #ee3643;
    padding: 10px 40px;
    border-radius: 3px;
    font-family: "Cuprum", Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
}

.promo-slide a:hover, 
.buy-btns a:hover {
    background: #ca2c37;
}

.promo-slide a:active,
.buy-btns a:active {
    background: #ba2732;
}
.promo-slide-2 {
	display: none;
}

.slider-btn label::before {
    border-radius: 50%;
    content: "";
    display: inline-block;
    height: 10px;
    width: 10px;
    margin: 0 10px 0 0;
    background-color: #fff;
    cursor: pointer;
}


label[for="promo-prev-id"]::after {
	cursor: pointer;
    position: absolute;
    content: "";
    top: -96px;
    left: -260px;
    width: 25px;
    height: 25px;
    display: inline-block;
    transform: rotate(45deg);
    border: 4px solid #fff;
    border-right: none;
    border-top: none;
}

label[for="promo-next-id"]::after {
	cursor: pointer;
    position: absolute;
    content: "";
    top: -99px;
    left: 269px;
    width: 25px;
    height: 25px;
    display: inline-block;
    transform: rotate(45deg);
    border: 4px solid #fff;
    border-left: none;
    border-bottom: none;
}

label.checked::before {
    border-radius: 50%;
    content: "";
    display: inline-block;
    height: 6px;
    width: 6px;
    margin: 0 10px 0 0;
    background-color: #ee3643;
    border: 2px solid #fff;
}

.slider-btn button {
	display: none;
}


/*popular-block index*/

.popular-header {
	background: #f7f3ec;
	position: relative;
	margin-right: 20px;
	margin-bottom: 20px;
}
.popular h2, .brands h2{
	padding: 30px 0px 29px 27px;
    letter-spacing: -0.5px;
    background: #f7f2ec;
}

.popular-header a {
	position: absolute;
	top: 25px;
	right: 23px;

	background: #ee3643;
	padding: 10px 55px;
	border-radius: 3px;

	font-family: "Cuprum", Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 18px;
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
}

.popular-header a:hover {
	background: #ca2c37;
}

.popular-header a:active {
	background: #ba2732;
}



.pop-product, .brands-logo {
	cursor: pointer;
	position: relative;
	display: inline-block;
	border: 1px solid #e5e5e5;
    width: 216px;
    margin-right: 17px;
    padding-bottom: 20px;
    margin-bottom: 4px;
}

.pop-product:last-child {
	margin-right: 0px;
}

.pop-product:hover .hover-product {
	
	padding: 10px 30px;
  	display: inline-block;
  	position: absolute;
  	background: #fff;
  	top: 44px;
  	left:50%;
  	transform: translateX(-50%);
  }

.product-img {
	position: relative;
	min-height: 180px;
}

.product-img > img  {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.prod-name {
	display: block;
	text-align: center;
	font-family: "PT Sans", Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 18px;
	line-height: 20px;
	color: #000000;
}

.old-price {
	display: block;
	text-align: center;
	color: #999;
	text-decoration: line-through; 
	text-transform: uppercase;
}

.product a,
.pop-product a {
	padding: 10px 20px;
	background-color: #ee3643;
	text-transform: uppercase;
	color: #fff;
	text-decoration: none;
	font-family: "PT Sans", Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 17px;
	line-height: 18px;
	display: inline-block;
}

.brands {
	margin-bottom: 65px;
}

.brands-logo {	
	min-height: 123px;
    position: relative;
    vertical-align: bottom;
    margin-bottom: 20px;
}

.brands-logo::after {	
    position: absolute;
    content: "";
    top: 0px;
    width: 218px;
    left: 0px;
    height: 144px;
}
.brands-logo img {
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
.pop-product:hover::after,
.product:hover::after,
.brands-logo:hover::after {
	box-shadow: 0px 10px 25px #293449;
	opacity: .5;
}

.brands-logo:active {
	opacity: .3;
}
.pop-product:active::after,
.product:active::after,
.brands-logo:active::after {
	box-shadow: 0px 4px 10px #293449;
	opacity: .5;
}

/*service-block index*/
.service {
    background: #f2f6f8;
    padding-top: 17px;
}

.service h2 {
	padding-left: 0px;
}
.service p {
	width: 400px;
	margin-top: -6px;
	margin-bottom: 55px;
}

.slider {
	position: relative;
	float: left;
	min-width: 240px;
}

.slider::after {
	position: absolute;
	top: -23px;
	right: 0px;
	content: "";
	width: 10px;
	height: 272px;
	background: transparent url(../img/shadow.png);
}

.slider ul {
	padding-left: 0px;
}
.slider li {
	list-style: none;
	
}

.slider input[type="button"] {
    padding: 15px 23px;
    width: 100%;
    text-align: left;
    border: none;
    margin: 0px;
    background-color: #32425c;

	border-top: 1px solid #405069;
	border-bottom: 1px solid #293449;

    font-family: "Cuprum", Arial, Helvetica, sans-serif;
    font-weight: bold;
	font-size: 21px;
	line-height: 30px;
	color: #e4e6e9;	

	cursor: pointer;
}

#active-input {
	background-color: #fff;
	color: #32425c;
	border: none;
}
.slides {
	float: right;
	min-height: 296px;
}
.slide {
	width: 640px;
	position: relative;
}

.slide h3 {
    font-family: "Cuprum", Arial, Helvetica, sans-serif;
    font-size: 36px;
    line-height: 24px;
    color: #32425c;
    text-transform: uppercase;
    margin: 0px;
    padding: 0px;
    padding-top: 17px;
    padding-bottom: 36px;
    background-color: transparent;
}

.slide p {
	width: 300px;
}


.slide-2, .slide-3 {
	display: none;
}

.slide-1::after {
    position: absolute;
    top: 0px;
    right: 0px;
    content: "";
    width: 468px;
    height: 261px;
    background: transparent url(../img/delivery.png) -22px 36px no-repeat;
}

.slide-2::after {
    position: absolute;
    top: 0px;
    right: 0px;
    content: "";
    width: 389px;
    height: 283px;
    background: transparent url(../img/guarantee.png) -22px 36px no-repeat;
}

.slide-3::after {
    position: absolute;
    top: 0px;
    right: 0px;
    content: "";
    width: 465px;
    height: 285px;
    background: transparent url(../img/credit.png) -22px 36px no-repeat;
}

.slider-btn {
    position: absolute;
    bottom: 36px;
    left: 294px;
    z-index: 1;
} 

.slider-btn .btn {
	margin: 3px;
}
/*info-block index*/
.info {
	padding-top: 80px;
	padding-bottom: 85px; 
}

.info .about-us {
	width: 550px;
	float: left;
}

.info .contact {
	width: 300px;
	float: right;
	margin-right: 20px;
}
.about-us h2, .contact h2 {
	margin: 0;
	padding: 0;
	background: transparent;
}
.about-us p, .contact p {
	margin-top: 26px;
	font-family: "Cuprum", Arial, Helvetica, sans-serif;
	font-size: 13px;
	line-height: 24px;
	color: #000;
}

.about-us p {
	min-width: 535px;
}
.contact p {
	max-width: 175px;
    letter-spacing: 0.4px;
}

.about-us ul {
	padding-left: 36px;
	margin-top: 19px;
	list-style: none;
	
	margin-bottom: 36px;
}
.about-us li {
	position: relative;
	margin-bottom: 20px;
	font-family: "Cuprum", Arial, Helvetica, sans-serif;
	font-size: 18px;
	line-height: 20px;
	color: #000;	
}

.about-us li::before {
	position: absolute;
    top: 8px;
    left: -37px;
	content: "";
	width: 25px;
	height: 2px;
	background: #fb565a;
}

.about-us a, .contact a {
	display: inline-block;
	padding: 10px 60px;
	border-radius: 3px;
	background: #ee3643;


	font-family: "Cuprum", Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 18px;
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
}
.about-us a {padding: 10px 40px;}

.contact .map {
	background: url("../img/map.jpg") no-repeat;
	margin-top: 31px;
    margin-bottom: 41px;
} 

/*MAIN CATALOG*/
.breadcrumbs {
	margin-top: 18px;
}
.breadcrumbs ul {
	padding-left: 0;
}

.breadcrumbs li {
	position: relative;
	display: inline-block;
	padding-right: 35px;
}

.breadcrumbs li::after {
	position: absolute;
	top: 8px;
	right: 17px;
	width: 6px;
	height: 6px;
	content: "";
	background: transparent;
	border-top: 1px solid #cdd1d8;
	border-right: 1px solid #cdd1d8;
	transform: rotate(45deg); 
}

.breadcrumbs li:last-child::after {
	display: none;
}

.breadcrumbs a {
	display: inline-block;
	color: #000;
	text-transform: uppercase;
	font-family: "PT Sans", Arial, Helvetica, sans-serif;
	font-size: 13px;
	line-height: 18px;
	text-decoration: none;
}


.breadcrumbs .index-crumb {
	display: inline-block;
	font-size: 0px;
	line-height: 24px;
	width: 20px;
	height: 20px;
	background: url("../img/catalog-sprite.png") 0px 0px;
}

main h2 {
	background: #f2f6f8;
    padding: 30px;
    margin-top: 17px;
    margin-bottom: 3px;
    margin-right: 20px;
    letter-spacing: -1px;
}

main h3 {
	background: #f7f3ec;
    padding: 10px 20px;
    margin-bottom: 0px;
}

.filters {
	float: left;
	width: 220px;

	color: #000;
	text-transform: uppercase;
	font-family: "PT Sans", Arial, Helvetica, sans-serif;
	font-size: 13px;
	line-height: 18px;
	text-decoration: none;
}

.filters h4 {
	margin-top: 14px;
    margin-bottom: 13px;
}
.range-filter
{
    width: 220px;
    padding-bottom: 26px;
    border-bottom: 1px solid #e5e5e5;
}

.range-filter h2
{
    margin-bottom: 13px;
}

.range-controls
{
    position: relative;

    overflow: hidden;

    height: 80px;
    margin-bottom: 8px;
    padding: 0 30px;

    border-radius: 5px;
    background: #f7f3ec;
}

.scale
{
    height: 2px;
    margin-top: 39px;

    background: #d7dcde;
}

.bar
{
    height: 2px;

    background: #00ca74;
}

.toggle
{
    position: absolute;
    top: 30px;
    left: 30px;

    width: 4px;
    height: 4px;

    cursor: pointer;

    border: 8px solid white;
    border-radius: 50%;
    background: #ababab;
}

.max-toggle
{
    left: 161px;
}

.min-toggle
{
    left: 20px;
}

.price-controls span {
	display: none;
}

.price-controls .control {
	display: inline;
}
.price-controls input[type="text"] {
	font-family: "PT Sans", Arial, Helvetica, sans-serif;
	font-size: 17px;
	line-height: 18px;
}
.min-price,
.max-price
{
    width: 94px;
    height: 36px;

    text-align: center;
    vertical-align: middle;

    border: none;
    border-radius: 3px;
    background: #f7f3ec;
}

.min-price
{
    margin-right: 8px;
}

.max-price {
	margin-left: 8px;
}
.filters label {
	font-family: "PT Sans", Arial, Helvetica, sans-serif;
	font-size: 15px;
	line-height: 20px;
}

.group-1 {
	border-bottom: 1px solid #e5e5e5;
    padding-top: 2px;
    margin-bottom: 20px;
}

.group-2 {
	margin-bottom: 58px;
}

.form-group {
	padding-left: 33px;
	padding-bottom: 20px;
}

.filters input[type="checkbox"], 
.filters input[type="radio"] {
	display: none;
	
}

.group-1 label, .group-2 label {
	position: relative;
	cursor: pointer;
}

.group-1 label::before {
	
    position: absolute;
    width: 27px;
    height: 24px;
    top: -2px;
    left: -33px;
    content: "";
    background: transparent url(../img/catalog-sprite.png) 0px -31px no-repeat;
    opacity: 0.7;
}

.group-1 input[type='checkbox']:checked ~ label::before
{
	   
    position: absolute;
    width: 27px;
    height: 24px;
    top: -2px;
    left: -33px;
    content: "";
    background: transparent url(../img/catalog-sprite.png) 0px -74px no-repeat;
    opacity: 0.7;
}

.group-2 span:before {
    position: absolute;
    width: 27px;
    height: 24px;
    top: -2px;
    left: -33px;
    content: "";
    background: transparent url(../img/catalog-sprite.png) -1px -163px no-repeat;
    opacity: 0.7;
}

.group-2 input[type='radio']:checked ~ span::before
{
    position: absolute;
    width: 27px;
    height: 24px;
    top: -2px;
    left: -33px;
    content: "";
    background: transparent url(../img/catalog-sprite.png) -1px -118px no-repeat;
    opacity: 0.7;
}

label:hover::before,
input[type='checkbox']:checked ~ label:hover::before,
span:hover::before,
input[type='radio']:checked ~ span:hover::before{
	opacity: 1;
} 

label:disabled::before,
input[type='checkbox']:checked ~ label:disabled::before,
span:disabled::before,
input[type='radio']:checked ~ span:disabled::before{
	opacity: .3;
} 

.form-btn, .btn-catalog {
	cursor: pointer;
	text-transform: uppercase;
	padding: 11px 35px;
	border: 1px solid #e5e5e5;
	border-radius: 3px;
	background: #fff;
}

.form-btn:hover {
	border-color: #bdc6ca;
}
.form-btn:active {
	border-color: #ee3643;
	outline: none;
}
.product-gallery {
    float: right;
    width: 700px;
    margin-right: 20px;
}

.sorting p, .sorting a, {
	display: inline-block;
}
/*настройки поиска*/
.sorting
{
	background: #f7f3ec;
    position: relative;

    margin-top: 14px;
    margin-bottom: 20px;

    text-transform: uppercase;
}

.sorting p
{
    display: inline-block;
    vertical-align: baseline;
    margin: 10px 137px 5px 19px;
}

.sorting a
{
    display: inline-block;

    margin-right: 64px;
    padding: 0;

    vertical-align: baseline;
    text-decoration: none;
    text-transform: uppercase;

    color: #c6c2bd;
    border-bottom: 1px dotted #ee3643;
}

.sorting a:nth-child(4) {
	margin-right: 0px;
}
.sorting a:hover
{
    color: #000;
    border-bottom: 2px solid #ee3643;
}

.sorting .arrow:hover {
	border-bottom: none;
}
.sorting a:active, .sorting .active
{
    color: #ee3643;
    border-bottom: none;
}

.sorting .pointers
{
    float: right;

    margin-top: 13px;
    margin-right: 17px;
}

.sorting .arrow
{
    font-size: 0;
    margin: 3px;
    border-bottom: none;
}

.arrow::before
{
    display: inline-block;
    vertical-align: baseline;

    content: '';

    border: 10px solid #c6c2bd;
    border-right-width: 5px;
    border-right-color: transparent;
    border-left-width: 5px;
    border-left-color: transparent;
}
.up::before
{
    border-top-width: 0;
}
.bottom::before
{
    border-bottom-width: 0;
}
.up:hover::before
{
    border-bottom-color: #010101;
}
.bottom:hover::before
{
    border-top-color: #010101;
}

.up:active::before
{
    border-bottom-color: #ee3643;
}

.bottom:active::before
{
    border-top-color: #ee3643;
}

.active::before
{
    border-bottom-color: #ee3643;
}
/*articles gallery*/
.articles {
	margin-bottom: 38px;
}

.articles .product {
	cursor: pointer;
	position: relative;
	border: 1px solid #e5e5e5;
    width: 216px;
    display: inline-block;
    vertical-align: top;
    margin-right: 16px;
    margin-left: 0px;
    font-size: 0px;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.product:nth-child(3n)
{
    margin-right: 0px;
}

.pop-product::after,
.product::after {	
    position: absolute;
    content: "";
    top: 0px;
    width: 216px;
    left: 0px;
    height: 317px;
}
.gallery-img {
    position: relative;
    min-height: 180px;
}

.gallery-img img {
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.gallery-info {
	position: relative;
}

.prod-name {
    display: block;
    width: 170px;
    margin: 0 auto;
    margin-bottom: 39px;
    text-align: center;
    font-family: "PT Sans", Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    color: #000000;
}

.old-price {
	position: absolute;
	top: 51px;
	left: 79px;
	display: block;
    text-align: center;
    font-family: "PT Sans";
    font-size: 17px;
    line-height: 18px;
    font-weight: bold;
    color: #999;
    text-decoration: line-through;
    margin-bottom: 10px;
}

.product-btn {
	position: relative;
	text-align: center;
}
.new-price {
	position: relative;
}
.new-price::before {
position: absolute;
    top: 0px;
    border-radius: 3px;
    right: 99px;
    vertical-align: baseline;
    content: '';
    width: 20px;
    height: 38px;
    background: #ee3643;
}

.new-price::after {
	position: absolute;
	top: 9px;
	left: 95px;
    vertical-align: baseline;

    content: '';

    border: 20px solid #ee3643;
    border-right-width: 19px;
    border-right-color: transparent;
    border-left-width: 19px;
    border-left-color: transparent;
    border-bottom: none;
    transform: rotate(-90deg);
}

.hover-product {
	display: none;
}

.hover-product .buy,
.hover-product .marks-add {
	display: block;
	font-family: "Cuprum", Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	font-size: 14px;
	line-height: 16px;

	border-radius: 3px;
} 

.hover-product .buy {
	position: relative;
	background: #63a63e;
	border-bottom: 3px solid #367315;
	color: #fff;

	padding: 12px 43px 7px 47px;
    margin-bottom: 8px;
}

.hover-product .buy::before {
	position: absolute;
	top: 10px;
    left: 18px;
    content: "";
    width: 18px;
    height: 18px;
    background: url(../img/main-sprite.png) 0px -73px no-repeat;
    opacity: 0.3;
}


.product .hover-product .buy:hover {
	background: #5fbb2d;
}

.hover-product .buy:hover::before {
	opacity: 1;
}
.hover-product .buy:active {
	background: #518534;
	border-bottom: 3px solid #518534;
}

.hover-product .marks-add {
	border: 3px solid #63a63e;
	background: #fff;
	color: #32425c;

	padding: 9px 0px 7px 30px;
}
.hover-product .marks-add:hover {
	border-color: #32425c;
}
.hover-product .marks-add:active {
	opacity: .3;
}
.product:hover .hover-product {
	    padding: 10px 25px;
  	display: inline-block;
  	position: absolute;
  	background: #fff;
  	top: 44px;
  	left:50%;
  	transform: translateX(-50%);
  }


.paginator {
	margin-bottom: 65px;
}

.btn-catalog {
	color: #000;
	text-decoration: none;
	padding: 10px 15px;
	margin-right: 6px;
}

.btn-catalog:hover {
	border-color: #bdc6ca;
}

.btn-catalog:active {
	border-color: #ee3643;
}

.btn-catalog.active {
	background: #ee3643;
	color: #fff;
	border: none;
	border-radius: 3px;
}

.accompaniment {
	clear: both;
	background: #f2f6f8;
	padding-top: 15px; 
	padding-bottom: 55px;
}

.accompaniment h2 {
    padding-left: 0px;
    padding-bottom: 13px;
    margin-top: 21px;
    letter-spacing: -0.5px;
}
.accompaniment p {
	letter-spacing: 0.04px;
}
    
/*FOOTERS*/

/*footer-top*/
.footer-top {
	background: #32425c;
}

.footer-logo {
	float: left;
}

.footer-top ul {
	float: right;
	margin-top: 38px;
}

.footer-top li {
	display: inline-block;
}

.footer-top a {
	font-family: "Cuprum", Arial, Helvetica, sans-serif;
	font-size: 18px;
	line-height: 24px;
	color: #fff;
	text-decoration: none;
	margin-left: 60px;
}


/*footer-middle*/

.footer-middle {
	background: #32425c;
	padding-bottom: 42px;
}

.contact-bottom {
	float: left;
	width: 340px;
	margin-top: 12px;
	margin-left: 5px;

	font-family: "Cuprum", Arial, Helvetica, sans-serif;
	font-size: 19px;
	line-height: 3px;
	color: #f1f5f7;
	letter-spacing: 0.2px;
}

.footer-middle ul {
	margin-top: 20px;
	float: right;
	padding: 0;
}

.footer-middle li {
	display: inline-block;
}

.footer-middle a {
	font-family: "Cuprum", Arial, Helvetica, sans-serif;
	font-size: 18px;
	line-height: 24px;
	color: #ffd180;
	text-decoration: none;
	margin-left: 58px;
}
/*общие состояния футеров:*/
.footer-top a:hover, .footer-middle a:hover {
	text-decoration: underline;
}

.footer-top a:active, .footer-middle a:active {
	text-decoration: none;
	opacity: .5;
}
/*footer-bootom*/
.footer-bottom {
	padding-top: 35px;
	padding-bottom: 30px;
	background: #293449;

	font-family: "Cuprum", Arial, Helvetica, sans-serif;
	font-size: 16px;
	line-height: 18px;
	color: #fff;
}

.footer-bottom a {
	color: #ffd180;
	text-decoration: none;
}

.footer-bottom p {
	margin: 0;
}
.footer-copyright {
	width: 225px;
	float: left;
}

.footer-links {
	width: 570px;
	float: right;
}

.footer-social, .footer-contacts, .footer-creators {
	display: inline-block;
}  

.footer-social {
	width: 135px;
	margin-right: 115px;
}

.social-btn {
	display: inline-block;
	vertical-align: bottom;
	font-size: 0px;
	width: 40px;
	height: 40px;
	background-color: #212a3a;
	border-radius: 50%;	
}

.social-btn:hover, .social-btn:active {
	background-color: #ee3643;
}

.social-btn-vk {
	background: #212a3a url("../img/main-sprite.png") 9px -283px no-repeat;
}
.social-btn-fb {
	background: #212a3a url("../img/main-sprite.png") 14px -322px no-repeat;
}
.social-btn-inst {
	background: #212a3a url("../img/main-sprite.png") 11px -356px no-repeat;
}
.footer-contacts {
	width: 140px;
	margin-right: 46px;
}

.footer-creators {
	width: 100px;
}

.footer-contacts a:hover, .footer-creators a:hover {
	text-decoration: underline;

}

.footer-contacts a:active, .footer-creators a:active {
	color: #c73644;
	text-decoration: none;
}

/*popups*/
.map-popup, .buy-popup, .contact-popup  {
	position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
.map-popup {
	display: none;
	min-width: 940px;
	min-height: 445px;
	z-index: 99;
	background: url("../img/big-map.png") 0 0 no-repeat;
}

.buy-popup {
	z-index: 100;

	padding-top: 40px;
    background: #fff;
    border-top: 7px solid #ee3643;
    box-shadow: 0px 20px 40px #293449;
}

.modal-content-close {

position: absolute;
  top: 9px;
  right: 9px;

  width: 22px;
  height: 22px;

  font-size: 0;

  background-color: transparent;
  border: 0;
  cursor: pointer;
  outline: none;
}

.modal-content-close::before,
.modal-content-close::after {
    content: "";
    position: absolute;
    top: 9px;
  	right: -2px;
    width: 24px;
    height: 4px;
    background-color: #ee3643;
    border-radius: 1px;
    
}

.modal-content-close::before {
  transform: rotate(45deg);

}

.modal-content-close::after {
  transform: rotate(-45deg);
}

.map-popup .modal-content-close::before,
.map-popup .modal-content-close::after {
	    top: 25px;
	    right: 9px;
}

.buy-popup .modal-content-close::before {
	top: 10px;
    right: -2px;
}

.buy-popup .modal-content-close::after {
	    top: 8px;
    right: -1px;
}

.buy-popup p {
	font-family: "Cuprum", Arial, Helvetica, sans-serif;
	font-size: 30px;
	line-height: 18px;
	color: #000;
	padding-bottom: 46px;
    padding-left: 179px;
}

.buy-popup p::before {
	position: absolute;
	content: "";
	top: 50px;
	left: 80px;
	background-color: #63a63e;
	width: 65px;
	height: 65px;
	border-radius: 50%;
}

.buy-popup p::after {
    position: absolute;
    content: "";
    top: 61px;
    left: 103px;
    border-right: 6px solid #fff;
    border-bottom: 6px solid #fff;
    width: 15px;
    height: 30px;
    transform: rotate(45deg);
}

.buy-btns {
	background-color: #f1f1f1;
	padding: 35px 80px;
}

.buy-btns a  {
	margin-right: 16px;
    background: #ee3643;
    padding: 10px 61px;
    border-radius: 3px;
    font-family: "Cuprum", Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
}

.buy-btns button {
	cursor: pointer;
    background: #fff;
    padding: 10px 47px;
    border-radius: 3px;
    font-family: "Cuprum", Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: #000;
    text-transform: uppercase;
    text-decoration: none;

    border: none;
}

.buy-btns button:hover {
 		border-color: #bdc6ca;
}

.buy-btns button:active {
border-color: #ee3643;
	outline: none;
}

.buy-btns button:focus {
	border-color: #ee3643;
	outline: none;
}

.contact-popup {
	padding-top: 50px;
	width: 620px;
	background-color: #fff;
	font-family: "Cuprum", Arial, Helvetica, sans-serif;
	font-size: 18px;
	line-height: 18px;
	color: #000;	
	border-top: 7px solid #ee3643;
    box-shadow: 0px 20px 40px #293449;
    
    box-sizing: border-box;
}
.contact-popup .popup-col {
	max-width: 220px;
	margin-bottom: 20px;
}
.contact-popup .popup-col1 {
	float: left;
	margin-left: 80px;
}

.contact-popup .popup-col2 {
	float: right;
	margin-right: 80px;
}

.contact-popup input {
	border: 2px solid #d7dcde;
    margin-top: 10px;
    width: 200px;
    height: 30px;
    border-radius: 3px;

    font-family: "PT Sans", Arial, Helvetica, sans-serif;
	font-size: 13px;
	line-height: 18px;
	color: #999;

	padding-left: 15px;
}

.contact-popup .textarea {
	clear: both;
}

.textarea .comment-label {
	margin-left: 80px;
	display: block;
}

textarea {

	border: 2px solid #d7dcde;
    border-radius: 3px;

	font-family: "PT Sans", Arial, Helvetica, sans-serif;
	font-size: 13px;
	line-height: 18px;
	color: #999; 

	display: block;
    overflow: auto;
    width: 428px;
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 10px;
    height: 92px;
    margin-bottom: 30px;
    background: #fff;
    padding: 10px 15px;
}

.contact-popup .finish-input {
	background: #f1f1f1;
	padding: 10px 10px 10px;
}
.contact-popup .contact-popup-btn {
	width: 461px;
background: #ee3643;
border: none;
    border-radius: 3px;
    font-family: "Cuprum", Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;

    margin-left: 80px;
    margin-right: 80px;
}